<!DOCTYPE html>

<html lang="en">


<head>


<meta charset="UTF-8">


<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>Trash</title>


<link rel="stylesheet" href="/css/style.css">

<link rel="stylesheet" href="/css/sidebar.css">

<link rel="stylesheet" href="/css/trash.css">

<link rel="stylesheet" href="/css/responsive.css">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
rel="stylesheet">

</head>


<body>



<div class="container">


<aside class="sidebar">


<div class="logo">

☁️

<h2>Dropbox</h2>

</div>


        <ul>

            <li>
                <a href="/">📊 Dashboard</a>
            </li>

            <li>
                <a href="/my-files">📄 My Files</a>
            </li>

            <li>
                <a href="/folders">📂 Folders</a>
            </li>

            <li>
                <a href="/favourites">⭐ Favorites</a>
            </li>

            <li class="active">
                <a href="/trash">🗑 Trash</a>
            </li>

        </ul>


</aside>





<main class="main">


<div class="page-header">

<div>

<h1>

🗑 Trash

</h1>


<p>

Files moved to trash

</p>


</div>


</div>




<div id="trashGrid" class="file-grid">


</div>



</main>

</div>

<script src="/js/api.js"></script>

<script src="/js/trash.js"></script>

</body>

</html>