@media(max-width:1200px){

.storage-wrapper{

grid-template-columns:1fr;

}

}

@media(max-width:900px){

.sidebar{

display:none;

}

.main{

padding:20px;

}

.search{

width:100%;

}

.navbar{

flex-direction:column;

gap:20px;

align-items:stretch;

}

.quick-actions{

flex-wrap:wrap;

}

}