.sidebar{

    width:260px;

    background:#111827;

    color:white;

    padding:30px 20px;

}

.logo{

    display:flex;

    align-items:center;

    gap:12px;

    margin-bottom:40px;

}

.logo h2{

    font-size:24px;

}

.sidebar ul{

    list-style:none;

}

.sidebar li{

    padding:16px;

    margin-bottom:10px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;

}

.sidebar li:hover{

    background:#1f2937;

}

.sidebar li.active{

    background:#2563eb;

}